mai/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}


body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background: url(images/schoolbackground.png);
  background-attachment: fixed;
  background-repeat: repeat;
  background-position: center;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  font-weight: normal;

}
h1 {
  font-size:200%;
}

h2 {
  font-size:100%;
}

p {
  font-size: 20%;
  line-height: 1.5;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #CECCCC;
}
header,
section {
  padding: 100px 150px;
}

.team,
.about,
#contact,
footer {
  text-align: center;
}

#container {
  min-height: 100%;
  max-width: 100%;
  position: relative;
}

/* PAGE NAV
-----------------------------------------*/

#sticky {
  position:absolute;
  background-color: white;
  padding: .8% .5%;
  text-align: right;
  width: 100%;
}

nav a:nth-child(4){
  margin-right: 5%;
}

nav a {
  padding: 1%;
  color: black;
  font-size: 80%;
}

nav img {
  width: 1%;
}

/* PAGE HEADER
-----------------------------------------*/
header {
  overflow: hidden;
}

header img {
  width: 40%;
}

/* QUOTE
-----------------------------------------*/

.quote {
  background: #72d5cd;
  color: white;
  font-style: italic;
  text-align: left;
}

blockquote {
  border-left-style: solid;
  border-left-color: white;
  padding-left: 5%;
}

.quote h2 {
  font-size: 135%;
}

.quote h3 {
  font-size: 120%;
}

/* ABOUT
-----------------------------------------*/
.about {
  background: #6787A2;
  color: white;
  text-align: justify;
}

.about p {
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: inherit;
  font-size: 100%;
  line-height: 1.25;
}

.about h1 {
  text-align: center;
}


/* TEAM
-----------------------------------------*/
.team {
  color:black;
  line-height: inherit;
  max-width: 90%;
}

.team h2 {
  text-transform: inherit;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: justify;
}

.team img {
  width: 150px;
  margin: 15px;
  display: inline;
  border-radius: 50%;
  border-style: solid;
  padding: .4%;
  color: white;
}

.ashley h2,
.melissa h2 {
  text-align: center;
  font-size: 140%;
}

.ashley p,
.melissa p {
  text-align: justify;
  font-size: 90%;
  line-height: 1.25;
}

.ashley,
.melissa {
  display: inline-block;
  background-color: #D5B0A7;
  padding: 5% 4%;
  margin: 3%;
  max-width: 43%;
  box-sizing: border-box;
  border-radius: 3%;

}



/* CONTACT
-----------------------------------------*/
#contact {
  background: #A26967;
  color: #ffffff;
  padding: 60px 150px;
}

#contact h1 {
  margin-bottom: 3%;
}

#contact img {
  width: 6%;
  margin: 2%;
}

/* FOOTER
-----------------------------------------*/
footer {
  margin-bottom:0;
  display: block;
  color: #6787A2;
}

footer p {
  font-size:2%;
}

footer a {
  color: #6787A2;
}
