mai/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background: url(images/gridme.png) repeat fixed;
  background-position: center;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  font-weight: normal;

}
h1 {
  font-size:40px;
}
p {
  font-size: 18px;
  line-height: 1.5;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #CECCCC;
}
header,
section,
#contact {
  padding: 100px 150px;
}
.team,
.about,
#contact,
footer {
  text-align: center;
}

#container {
  min-height: 100%;
  position: relative;
}

/* PAGE NAV
-----------------------------------------*/

#sticker {
  position:absolute;
  background-color: white;
  padding: 1% 1%;
  width: 100%;
  float:right;
}

nav a {
  padding: 20px;
  color: black;
  font-size: 13px;
}

nav img {
  width: 1%;
}

/* PAGE HEADER
-----------------------------------------*/
header {
  clear:both;
}
header h1 {
  text-transform: inherit;
}

header img {
  width: 40%;
}


/* QUOTE
-----------------------------------------*/

.quote {
  background: #72d5cd;
  color: white;
  line-height: .3%;
  font-style: italic;
  text-align: left;
}

blockquote {
  border-left-style: solid;
  border-left-color: white;
  padding-left: 5%;
}

.quote h3 {
  font-size: 38px;
}

/* ABOUT
-----------------------------------------*/
.about {
  background: #6787A2;
  color: white;
}



/* TEAM
-----------------------------------------*/
.team {
  color:black;
  line-height: inherit;
}

.team h2 {
  font-size: 18px;
  text-transform: inherit;
  margin-top: 2%;
  margin-bottom: 2%;
}

.team img {
  width: 150px;
  margin: 15px;
  display: inline;
  border-radius: 50%;
  border-style: solid;
  padding: 2px;
  color: white;
}

.ashley,
.melissa p {
  text-align: center;
}

.ashley,
.melissa {
  display: inline-block;
  background-color: #72d5cd;
  padding: 5% 10%;
  margin: 3%;
}



/* CONTACT
-----------------------------------------*/
#contact {
  background: #A26967;
  color: #ffffff;
}

#contact img {
  width: 6%;
  margin: 3%;
}

/* FOOTER
-----------------------------------------*/
footer {
  margin-bottom:0;
  display: block;
}

footer p {
  font-size:10px;
}

footer a {
  color: black;
}
