/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background: url(../images/buildings.jpg) no-repeat fixed;
  background-size: cover;
}
h1, h2 {
  font-family: 'Montserrat', cursive;
  margin: 0; /* removes default space */
  font-weight: normal; /* removes default bold style */
  text-transform: lowercase;
}
h1 {
  font-size:60px;
}
p {
  font-size: 18px;
  line-height: 1.5; /* adjusts space between the lines */
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #CECCCC;
}
header,
section,
footer {
  padding: 100px 150px;
}
.team,
.about,
.quote,
footer {
  text-align: center;
}
strong {
  color: #9D6381;
}



/* PAGE HEADER
-----------------------------------------*/
header {
}
header h1 {
  text-transform: inherit;
}
header h2 {
  font-size: 32px;
  text-transform: inherit;
}

header img {
  width: 40%;
}

/* ABOUT
-----------------------------------------*/
.about {
  background: #72d5cd;
  color: white;
}

/* QUOTE
-----------------------------------------*/

.quote {
  background: #1490CC;
  color: white;
}

/* TEAM
-----------------------------------------*/
.team {
  background: #FF5540;
  color:white;
}
.team img {
  width: 250px;
  margin: 15px;
  display: inline;
  border-radius: 50%;

}

.bios p{
  text-align: center;
}

.bios {
  display: inline-block;
}


/* FOOTER - contact info
-----------------------------------------*/
footer {
  background: #3D7B99;
  color: #ffffff;
}

footer img {
  width: 10%;
  margin: 3%;
}
